.content {
	min-height: 50rem;
}

*,::before,::after{
	margin:0;padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box}

.superSpan{
	color:#f07d19;
	font-weight:700
	}
.customButton{
	padding:.8rem 3rem;
	border-radius:30px;
	background-color:#c44f3d;
	color:#fff
	}
.semBold{
	font-weight:400;
	line-height:4rem;
	max-width:40rem
	}
.row{
	margin-bottom:0
	}
.marginOne{
	margin-bottom:1rem
	}
.marginTwo{
	margin-bottom:2rem
	}
.marginThree{
	margin-bottom:3rem
	}
.marginFour{
	margin-bottom:4rem
	}
.section{
	padding-top:0!important;
	padding-bottom:0!important
	}
.centerContent{
	display:-webkit-box;display:
	-ms-flexbox;display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	height:800px
	}
.landing .greyBackground{
	background-color:#f2f2f2
	}
.landing .myanmarImage{
	width:300px;
	opacity:80%
	}
.landing .centerContent{
	padding: 2.5rem;
	}
.landing .spanSpace{
	display:block;
	margin-bottom:2rem
	}
.landing h5{
	position:relative
	}
@media only screen and (max-width: 993px){
	.landing .greyBackground{
		display:none
		}
	.landing .semBold{
		line-height:3rem
		}
	.landing .centerContent, .conditions .centerContent{
		padding:0;
		height: auto;
		margin-bottom: 3rem;
		}
	.landing h5{
		font-size:2rem
		}
	.landing h5::before{
		font-size:7rem
		}
	.landing .spanSpace{
		margin-bottom:1rem
		}
	}
.conditions{
	height:800px;
	margin-bottom:5rem
	}
.conditions .row .col{
	padding:0
	}
.conditions ul{
	list-style-type:circle!important
	}
.conditions li{
	margin-bottom:1rem;
	font-weight:400;
	list-style-type:circle!important;
	}
.conditions h5{
	font-size:2rem
	}
.conditions .boxStyle{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	height:100%;
	width:100%;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
	}
.conditions .boxStyle .One,
.conditions .boxStyle .Two,
.conditions .boxStyle .Three,
.conditions .boxStyle .Four{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	width:50%;
	height:250px
}
.conditions .boxStyle .One img,
.conditions .boxStyle .Two img,
.conditions .boxStyle .Three img,
.conditions .boxStyle .Four img{
	width:70px;
	}
.conditions .boxStyle .One p,
.conditions .boxStyle .Two p,
.conditions .boxStyle .Three p,
.conditions .boxStyle .Four p{
	font-weight:600;
	letter-spacing:.3px
	}
.conditions .boxStyle .One,
.conditions .boxStyle .Four{
	background-color:#f9c2ad
	}
.conditions .boxStyle .Three{
	background-color:#e16a4c
	}
.conditions .boxStyle .Two{
	background-color:#e17f4c
	}
@media only screen and (max-width: 993px){
	.conditions{
		height:100%
		}
	.conditions .boxStyle .One,
	.conditions .boxStyle .Two,
	.conditions .boxStyle .Three,
	.conditions .boxStyle .Four{
		width:100%;
		height:250px;
		}
	}
.Faq{
	min-height:600px;
	margin-bottom:5rem
	}
.Faq h5{
	margin-bottom:5rem
	}
.Faq .faqbold{
	font-weight:400;
	color:#e17f4c;
	font-family:"Times New Roman",
	Times,serif;
	font-size:2rem;
	}
.Faq .collapsible{
	-webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);
	box-shadow:0 0 0 0 rgba(255,255,255,0);
	}
.Faq .collapsible-header{
	font-weight:500;
	font-size:1.3rem;
}
.Faq .collapsible-body {
	background-color: #ddd;
}

.select-wrapper ul {
	min-height: 100px;
	max-height: 300px;
}
.dropdown-content li>a, .dropdown-content li>span {
	color: black;
}

.search-form{
	padding: 1.5rem;
}

.listStyleChange {
	width: 100%;
	padding-left: 2rem! important;
}

.service-list .card {
	min-height: 20rem;
	max-height: 20rem;
	overflow: scroll;
}

.service-list .card::-webkit-scrollbar {
    display: none;
}

.service-list .card {
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
  	border-top: 10px solid #546e7a;
	border-bottom: 10px solid #546e7a;
}

.service-list .card-title {
	line-height: 2.5rem!important;
	font-weight: 600;
}

.service-list dl {
	margin-bottom: 0.5rem;
}

.service-list dl dd a {
	color: white;
	text-decoration: underline;	
}
.about h5 {
	text-align: center;
	line-height: 3.5rem;
	font-size: 2rem;
}

.about p {
	padding: 0.5rem;
	text-align: justify;
	line-height: 1.7rem;
	margin-bottom: 0.5rem;
	text-indent: 2rem;
}

.note {
	font-size: 80%;
	color: #808080;
}

.note::before {
	content: "*";
	font-size: 100%;
}	

.service-list .badge {
	position: absolute;
	right: 15px;
	top: 15px;
}

.services-header {
	line-height: 3.5rem;
	text-align: justify;
}

.select2-input{
	margin-bottom: 1.5rem;
}

.select2-input label{
	line-height: 2rem;
}

.faq-content {
	line-height: 2rem;
}